APP_NAME=platform-ai-backend-php
APP_ENV=production
APP_KEY= 
APP_DEBUG=false
APP_URL=https://your-production-url.com

LOG_CHANNEL=stack
LOG_LEVEL=error


DB_CONNECTION=pgsql
DB_HOST=aws-1-ap-northeast-1.pooler.supabase.com
DB_PORT=6543
DB_DATABASE=postgres
DB_USERNAME=your_username_here
DB_PASSWORD=your_password_here


REDIS_URL=xxxx

# --- JWT (Dùng cho Auth Partner) ---
JWT_SECRET=your_jwt_secret_here
JWT_LEEWAY=60

// --- Firebase (Dùng để verify token từ client) ---
FIREBASE_PROJECT_ID=your_firebase_project_id_here


BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null